header {
    border: 1px solid goldenrod;
}

header li {
    display: inline;
    margin: 0 10px;
}

.disabled {
    color: grey;
}

a .disabled {
    color: purple;
}

.active {
    color: yellow;
}

.grandparent > .parent > div > div {
    color: red;
}

.grandparent > .parent > div > div ~ div {
    color:blue;
}

.grandparent > .parent > div > div + h4 {
    background-color: red;
}

.grandparent > .parent > div > div ~ div + h4 {
    background-color:blue;
}

.grandparent > h4 {
    border: 1px black solid;
    border-radius: 5px;
}

.promo {
    font-weight: bold;
    color: gold;
}

footer input[type="text"] {
    height: 25px;
}
