.shop {
    border: 1px lightgrey dashed;
    flex-basis: 30%;
}

.pageHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

